{% extends "page.html" %}

{% block body %}

    <div class="instructions">

        <h2>Footfollow.</h2>
        <h3>(an experiment by <a href="http://brianhouse.net" target="_blank">brian house</a>)</h3>
        <br />
        <h4><b>Step 1</b>: get out your headphones</h4>
        You also need pockets<br />
        You need to turn off sleep or something<br />
        <a class="arrow" href="/choose">&rarr;</a>

<!-- Footfollow is an experiment in patterns and contraints, data and control. It’s also a webapp for iOS and Android. Here’s how it works: 1) visit http://footfollow.org on your mobile device and get out your headphones, 2) choose a walk, 3) put your phone in your pocket and listen, 4) what you hear is a click track that matches the footsteps made by the person before you — can you match them?, 5) your footsteps have now also been recorded, and someone else will listen and walk to them, 6) and so on and so forth.
 -->
    </div>

{% endblock body %}
