{% extends "page.html" %}

{% block body %}

    <div class="instructions">
        <h2>Synchronizing Uncertainty</h2>
        <br />
        Using your phones's accelerometer, this web app will record the rhythm of your footsteps as you walk.<br />
        <br />
        ...and while you are walking, you will hear a click track of the footsteps made by someone else who walked before you. Try and match them. Or don't.<br />
        <br />
        After you're done, your walk will guide someone else. And so on and so forth.<br />
        <br />
        <a class="arrow" href="/prepare">&rarr;</a>
    </div>

{% endblock body %}
