{% extends "page.html" %}

{% block head %}

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.4/leaflet.js"></script>
    <script type="text/javascript" src="/static/map.js"></script>    
    <script type="text/javascript">
        walk_data = {{ walks }};
        // walk_data = [{"id": 2}, {"id": 1, "start_time": 1, "duration": 1, "geo_data": [{"t": 2, "lat": 41.8205, "lng": -71.40084}, {"t": 2, "lat": 41.8255, "lng": -71.40484}]}];
    </script>

{% endblock head %}

{% block body %}

    <div id="map"></div>
    <a id="start_btn" href="javascript:startWalk();">START</a>

{% endblock body %}
