{% extends 'page.html' %}

{% block head %}
    <script type="text/javascript">

        var map = null;
        var marker_layer = null;

        function checkSelection () {
            console.log("checkSelection");
            walk_index = $('#walk_select option:selected').val();
            num_walks = $('#walk_select option').length;
            if (num_walks <= 1 || walk_index.length) {
                loadWalk();
            }            
        }

        function loadWalk () {
            console.log("loadWalk");
            $.ajax({
                type: 'GET',
                url: 'sequence.py',
                data: {'index': walk_index},
                dataType: 'json',
                success: function (data, textStatus, jqXHR) {
                    data['geo_data'].push([-71.400500, 41.819900]);
                    var start_location = data['geo_data'][0];
                    var stop_location = data['geo_data'][data['geo_data'].length - 1];
                    markers = [];
                    markers.push({  geometry: {coordinates: [start_location[0], start_location[1]]}, 
                                    properties: {'marker-color': '#000', 'marker-symbol': 'circle'}
                                });                    
                    markers.push({  geometry: {coordinates: [stop_location[0], stop_location[1]]}, 
                                    properties: {'marker-color': '#000', 'marker-symbol': 'embassy'}
                                });                    
                    marker_layer.features(markers);
                    map.zoom(17).center({ lon: start_location[0], lat: start_location[1] });                                        
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Sequence request failed:\n" + errorThrown);
                    console.log(jqXHR);
                }
            }); 
        }

        $(document).ready(function() {                       

            map = mapbox.map('map');
            map.addLayer(mapbox.layer().id('brianhouse.map-124z30te'));
            map.ui.zoomer.add();

            marker_layer = mapbox.markers.layer()
            mapbox.markers.interaction(marker_layer);
            map.addLayer(marker_layer);

            map.zoom(5);

            // markers = [
            //     {
            //         geometry: {coordinates: [-77, 37.9]},
            //         properties: {   'marker-color': '#000',
            //                         'marker-symbol': 'circle',   // embassy
            //                         title: 'Start',
            //                         description: 'This is a single marker.'
            //         }
            //     }
            //     ];

            // marker_layer.features(markers);
            // console.log(map);

        });

    </script>
{% endblock head %}

{% block body %}

    <div id='map'></div>
    <select id="walk_select" onChange="checkSelection()">
        <option value=""></option>
    {% for timestamp, date in options | dictsort | reverse %}
        <option value="{{ timestamp}}">{{ date }}</a>
    {% endfor %}        
    </select>

{% endblock body %}

