{% extends "page.html" %}

{% block head %}

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.4/leaflet.js"></script>
    <script type="text/javascript" src="/static/map.js"></script>    
    <script type="text/javascript">
        walk_data = {{ walks }};
    </script>

{% endblock head %}

{% block body %}

    <div id="map"></div>
    <a id="start_btn" href="javascript:startWalk();">START</a>

{% endblock body %}
