{% extends "page.html" %}

https://developer.mozilla.org/en-US/docs/Web/API/Detecting_device_orientation
https://www.html5rocks.com/en/tutorials/device/orientation/

{% block head %}
    <script type="text/javascript">
        console.log("Hello World!");

        if (window.DeviceOrientationEvent) {
            alert("DeviceOrientation is supported");
        } else {
            alert("DeviceOrientation is not supported");
        }   

        window.ondevicemotion = function(e) {
            var d = [e.acceleration.x, e.acceleration.y, e.acceleration.z];                
            $('#display_x').html("x: " + d[0]);
            $('#display_y').html("y: " + d[1]);
            $('#display_z').html("z: " + d[2]);
        }

        window.ondeviceorientation = function(e) {

            // this is euler angle offset from neutral position -- lying flat on a table, with the top towards north

                                                        // heading (compass) 0 is north, clockwise   
            if (e.webkitCompassHeading) {
                var alpha = e.webkitCompassHeading;     // on iphone, alpha returns the offset from the first request
            } else {
                var alpha = e.alpha;          
            }            
            var beta = e.beta;                          // elevation (degrees tilted up) 0 is horizontal
            // var beta = ((e.beta + 180) + 180) % 360; // (make 360 instead of -180, 180)
            var gamma = e.gamma;                        // bank (degrees tilted right) 0 is horizontal
                                                        // cant fix bank, doesnt know when it's upside down


            var d = [alpha, beta, gamma];    
            $('#display_alpha').html("heading: " + Math.floor(d[0]));
            $('#display_beta').html("elevation: " + Math.floor(d[1]));
            $('#display_gamma').html("bank: " + Math.floor(d[2]));

            $('#arrow_alpha').css({
                "-webkit-transform": "rotate(" + alpha + "deg)",
                "-moz-transform": "rotate(" + alpha + "deg)",
                "transform": "rotate(" + alpha + "deg)" /* For modern browsers(CSS3)  */
            });

            $('#arrow_beta').css({
                "-webkit-transform": "rotate(" + beta + "deg)",
                "-moz-transform": "rotate(" + beta + "deg)",
                "transform": "rotate(" + beta + "deg)" /* For modern browsers(CSS3)  */
            });

            $('#arrow_gamma').css({
                "-webkit-transform": "rotate(" + gamma + "deg)",
                "-moz-transform": "rotate(" + gamma + "deg)",
                "transform": "rotate(" + gamma + "deg)" /* For modern browsers(CSS3)  */
            });            
        }

    </script>
{% endblock head %}

{% block body %}

    <div class="instructions">
    Orientation test
    </div>
    <div id="readings">
        <span id="display_x">x</span><br />
        <span id="display_y">y</span><br />
        <span id="display_z">z</span><br />
        <br />
        <span id="display_alpha">heading</span><br />
        <div style="text-align: center">
            <img id="arrow_alpha" style="width: 25px; height: 25px; margin: auto; background-color: black;" src="/static/img/compass.png" />
        </div>
        <br />    
        <span id="display_beta">elevation</span><br />
        <div style="text-align: center">
            <img id="arrow_beta" style="width: 25px; height: 25px; margin: auto; background-color: black;" src="/static/img/compass.png" />
        </div>
        <br />    
        <span id="display_gamma">bank</span><br />        
        <div style="text-align: center">
            <img id="arrow_gamma" style="width: 25px; height: 25px; margin: auto; background-color: black;" src="/static/img/compass.png" />
        </div>
        <br />            
    </div>    

{% endblock body %}