<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US"> 
<head>
    <title>Footfollow</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
    <meta name="author" content="Brian House" /> 
    <meta name="copyright" content="Brian House" />
    <meta name="description" content="Footfollow is an experiment in patterns and contraints, data and control." /> 
    <meta name="keywords" content="patterns, constraints, data, control, sonification, footfalls, french foreign legion" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">        
    <meta name="apple-touch-fullscreen" content="yes" />    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />        
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />   
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet" type="text/css"> 
    <link href="/static/style.css" rel="stylesheet" type="text/css">     
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>    
    {% block head %}

    {% endblock head %}
</head>
<body>
    {% block body %}

    {% endblock body %}
</body>
</html>

