{% extends "page.html" %}

{% block body %}

    <div class="instructions">
        <h2>Prepare</h2>
        <br />
        1. You will need headphones. Plug 'em in and put 'em on.<br />
        <br />
        2. This won't work if your phone falls asleep. On an iPhone, go to "Settings &rarr; General &rarr; Auto-Lock" and temporarily disable Auto-Lock.<br />
        <br />
        3. When you start walking, your phone should be in your <b>right front pocket</b>. If you don't have a pocket, a bag over one shoulder might work.<br />
        <br />
        <a class="arrow" href="/walk/c">&rarr;</a>
    </div>

{% endblock body %}
