{% extends "page.html" %}

{% block body %}

    <div class="instructions">
        <h2>
            <span id="title" class="title">Prepare</span>
        </h2>    
        <h3 id="pocket"></h3>        
        You will need headphones. Plug 'em in and put 'em on.<br />
        <br />
        This won't work if your phone falls asleep. Go to "Settings &rarr; General &rarr; Auto-Lock" and temporarily disable Auto-Lock.<br />
        <br />
        When you start walking, your phone should be in your <b>right front pocket</b>. If you don't have a pocket, try a bag over your shoulder. Carrying the phone or putting it in a backpack won't work.<br />
        <br />
        <a class="arrow" href="/choose">&rarr;</a>
    </div>

{% endblock body %}
