{% extends "page.html" %}

{% block body %}

    <div class="instructions">
        <h4>
            <span class="title"><b>Step 1</b>: prepare</span>
        </h4>
        <ul>
            <li>You will need headphones. Plug 'em in and put 'em on.</li>
            <li>This won't work if your phone is asleep. Make sure it stays on. You may have to go to "Settings &rarr; Auto Lock" and set it to something less than 5 min.</li>
            <li>When you start walking, your phone should be in your <b>right front pocket</b>. If you don't have a pocket, try a bag over your shoulder. Backpack or just carrying the phone won't work.</li>
        </ul>
        <a class="arrow" href="/route">&rarr;</a>
    </div>

{% endblock body %}
