{% extends "page.html" %}

{% block body %}

    <div class="instructions">
        <h4>
            <span class="title"><b>Step 3</b>: get ready</span>
        </h4>
        <p>When you are ready, touch the arrow and <b>put your phone in your front right pocket</b>. After the count-off, start walking. You will hear the timing of the footsteps that came before you. Your own footsteps are being recorded.</p>
        <p>When you are done, touch 'stop'.</p>
        <a class="arrow" href="/walk/{{ walk_id }}">&rarr;</a>
    </div>

{% endblock body %}
