{% extends "page.html" %}

{% block head %}
    <script type="text/javascript" src="/static/js/playback.js"></script>
    <script type="text/javascript" src="/static/js/jQueryRotateCompressed.2.2.js"></script>    
    <script type="text/javascript">
        $(document).ready(function () {
            $('#arrow').click(function () {
                playSound('left', 0, 0.0, 0.0); // iOS needs this
                playSound('right', 0, 0.0, 0.0); // iOS needs this            
                window.location = "/walk/{{ walk_id }}";
            });
            $('#compass_holder').hide();
            window.ondeviceorientation = function (e) {
                if (e.webkitCompassHeading != undefined) {
                    $('#compass_holder').show();
                    $('#compass').rotate(-1 * (e.webkitCompassHeading + window.orientation) + 270); // west
                }
            }
        });
    </script>
{% endblock head %}

{% block body %}

    <div class="instructions">
        <h4>
            <span class="title"><b>Step 3</b>: get ready</span>
        </h4>
        When you are ready, touch the arrow and <b>put your phone in your front right pocket</b>. After the count-off, start walking towards Broadway. <span id="compass_holder">Broadway is this direction:<br />
        <div style="text-align: center"><img id="compass" style="width: 50px; height: 50px; margin: auto;" src="/static/img/compass.png" /></div></span><br />
        <br />
        <br />
        You will hear the timing of the footsteps that came before you. Your own footsteps are being recorded.<br />
        <br />
        When you arrive at Broadway, take your phone out and touch 'stop'.<br />
        <br />
        <a class="arrow" id="arrow">&rarr;</a>
    </div>

{% endblock body %}
