{% extends "page.html" %}

{% block body %}

    <div class="instructions">
        <h4>
            <span class="title"><b>Step 2</b>: go to the starting point</span>
        </h4>
        You'll be walking from the NW corner of Bowery and Great Jones two blocks to Broadway. The map on the next page shows a green dot where you will begin. Go there to automatically unlock the next step.
        <br />
        <br />
        <a class="arrow" href="/map">&rarr;</a>
    </div>

{% endblock body %}
