{% extends "page.html" %}

{% block body %}

    <div class="instructions">
        <h2>
            <span class="title"><b>Step 2</b>: go to the starting point</span>
        </h2>
        <h3></h3>
        You'll be walking from the NE corner of 6th Ave and 12th street three blocks to Broadway. The map on the next screen shows your current location in white and there is a green dot where you will begin. Follow it to unlock the next step.
        <br />
        <br />
        <a class="arrow" href="/map">&rarr;</a>
    </div>

{% endblock body %}
