{% extends "page.html" %}

{% block body %}

    <div class="instructions">
        <h2>
            <span class="title"><b>Step 2</b>: go to the starting point</span>
        </h2>
        <h3></h3>
        You'll be walking from the NW corner of Bowery and Great Jones two blocks to Broadway. The map on the next screen shows your current location and a green dot where you will begin. Follow it to unlock the next step.
        <br />
        <br />
        <a class="arrow" href="/map">&rarr;</a>
    </div>

{% endblock body %}
