{% extends "page.html" %}

{% block head %}

    <script type="text/javascript" src="/static/js/playback.js"></script>    
    <script type="text/javascript">
        sequence = {{ sequence }};
    </script>

{% endblock head %}

{% block body %}

    <div class="instructions">
        <h4 style="margin-bottom: 0px;">
            <span class="title"><b>We are walking...</b></span>            
        </h4>
        <h3>(phone in pocket)</h3>
        <h4></h4>
        <a id="start_btn" href="javascript:startWalk();">START</a>
    </div>
    <div id="readings">
        <span id="display_x"></span><br />
        <span id="display_y"></span><br />
        <span id="display_z"></span><br />
    </div>

{% endblock body %}
