{% extends "page.html" %}

{% block head %}
    <script type="text/javascript" src="/static/js/rawdeflate.js"></script>
    <script type="text/javascript" src="/static/js/audio.js"></script>
    <script type="text/javascript" src="/static/js/playback.js"></script>
    <script type="text/javascript">
        sequence = {{ sequence }};
        ref_id = {% if ref_id %}{{ ref_id }}{% else %}null{% endif %};
    </script>
{% endblock head %}

{% block body %}

    <div class="instructions">
        <h2>
            <span id="title" class="title">Get ready</span>
        </h2>
        <h3 id="pocket"></h3>
        <span id="text">
            Touch START and <b>put your phone in your front right pocket</b>. After the count-off, start walking. You will hear the timing of the footsteps that came before you, and your own footsteps are being recorded.<!-- towards Broadway. --> <!-- <span id="compass_holder">Broadway is this direction:<br />
            <div style="text-align: center"><img id="compass" style="width: 50px; height: 50px; margin: auto;" src="/static/img/compass.png" /></div></span><br /> -->
<!--             <br />
            <br />
            You will hear the timing of the footsteps that came before you. <b>Can you match them?</b> Your own footsteps are being recorded.<br />
 -->            <br />
 <br />
            <!-- When you arrive at Broadway, take your phone out and touch 'stop'.<br /> -->
            When you are done, take your phone out and touch 'stop'.<br />
            (After 10 min, it will stop automatically)<br /><br />            
            <br />
        </span>
        <a id="start_btn">START</a>
    </div>
    <div id="readings">
        <span id="display_x"></span><br />
        <span id="display_y"></span><br />
        <span id="display_z"></span><br />
    </div>

{% endblock body %}
